.mat-sidenav-container {
  height: 100%;
}

$sidenav-width: 320px; // 240px;

.mat-sidenav {
  width: $sidenav-width;
}

.toolbar-title {
  margin: 0 16px 0 16px;
}

.mat-subheader {
  font-size: 16px;
  font-weight: 900;
}

.app-nav-list-icon {
  margin: 0 12px 0 12px;
}

.list-item-active {
  font-weight: 700;
  color: #ff3d00 !important;
}

.footer {
  position: fixed;
  padding: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3f51b5;
  color: white;
  text-align: center;
}


.notHasRoleLink {
  display: none !important;
}


.footer-hover:hover{
    color: #000;
    cursor: pointer;
}

