<div class="main-container">
  <mat-card-header class="text-center mat-card-header">
    <mat-card-title class="card-title">Attendances List</mat-card-title>
  </mat-card-header>
</div>

<mat-card-content>
  <div class="container mat-elevation-z8">
    <div class="form">
      <mat-form-field floatPlaceholder="never" color="primary">
        <mat-label>Select the employee</mat-label>
        <mat-select name="employee">
          <mat-option
            *ngFor="let item of employeeLookup"
            (click)="getAttendanceByEmployeeId(item.id)"
            [value]="item.id"

            >{{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="refresh()" mat-icon-button style="margin-top: 10px">
        <mat-icon matTooltip="Re-load" color="accent">refresh</mat-icon>
      </button>
    </div>
    <mat-table
      #table
      [dataSource]="dataSource.data"
      matSort
      (matSortChange)="onSort($event)"
      class="mat-cell mat-table"
    >
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-num"
          >ID</mat-header-cell
        >
        <mat-cell *matCellDef="let row" class="mat-table-num">
          {{ row.id }}</mat-cell
        >
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="EmpName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-num"
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let row" class="mat-table-num">
          {{ row.empolyeeName }}</mat-cell
        >
      </ng-container>

      <!-- SRVDT Column -->
      <ng-container matColumnDef="SRVDT">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-num"
          >SRVDT</mat-header-cell
        >
        <mat-cell *matCellDef="let row" class="mat-table-num">
          {{ row.srvdt | date : "yyyy-MM-dd" }}</mat-cell
        >
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="DEVDT">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-num"
          >DEVDT</mat-header-cell
        >
        <mat-cell *matCellDef="let row" class="mat-table-num">
          {{ row.devdtDate | date : "h:mm a" }}</mat-cell
        >
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="DEVUID">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-table-num"
          >DEVUID</mat-header-cell
        >
        <mat-cell *matCellDef="let row" class="mat-table-num">
          {{ row.devuidDate | date : "h:mm a" }}</mat-cell
        >
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="text-left">
          <button mat-icon-button color="primary" (click)="addEdit()">
            <mat-icon matTooltip="Add">add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell
          *matCellDef="let row; let i = index"
          class="text-left"
          style="width: 50px"
        >
          <button mat-icon-button color="view" (click)="view(row.employeeId)">
            <mat-icon matTooltip="view">visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteItem(row)">
            <mat-icon matTooltip="delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        [style.background-color]="'#90ee9a87'"
      ></mat-row>
    </mat-table>
    <div *ngIf="dataSource.count === 0" class="no-results">
      <span>No Data To Dispaly</span>
    </div>

    <mat-paginator
      *ngIf="dataSource.count !== 0"
      #paginator
      [length]="dataSource.count"
      [pageIndex]="filters.pageIndex"
      [pageSize]="dataSource.pageSize"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[6, 10, 25, 100]"
      (page)="onPage($event)"
    >
    </mat-paginator>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>
</mat-card-content>
